body {
  background: url("../images/background.jpg");
  background-size: 100vw 100vh;
  color: white;
  overflow: hidden;
  user-select: none;
  touch-action: none;
}

@media screen and (max-width: 1600px) and (min-height: 1000px){
  body {
    background-size: auto 100vh;
  }
}

div {
  width: 0;
  margin: 0 auto;

  font-size: 10vh;
}
